@import "../../styles/variables";

.container {
  .plan-card {
    border: 1px solid $light-gray;
    width: 100%;
    min-width: 150px;
    border-radius: 10px;
    cursor: pointer;
    padding: 1rem;
    min-height: 130px;
    transition: border 0.3s;
    box-sizing: border-box;

    &:hover {
      border: 1px solid $purplish-blue;
    }
  }

  .plan-icon {
    margin-bottom: 3rem;
  }

  .text-content {
    .plan-name {
      font-weight: 500;
      color: $marine-blue;
      font-size: 0.95rem;
    }
  
    .plan-price,
    .plan-promotion {
      margin-top: 0.5rem;
      font-weight: 500;
    }
    
    .plan-price {
      font-size: 0.9rem;
      color: $cool-gray;
    }
  
    .plan-promotion {
      font-size: 0.8rem;
      color: $marine-blue;
    }
  }

  .selected {
    background-color: $magnolia;
    border: 1px solid $purplish-blue;
  }
}