@import "../../styles/variables";

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: hsl(217, 100%, 97%);

  main {
    width: 100%;
    max-width: 960px;
    background-color: $white;
    box-sizing: border-box;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 25px 50px -12px $light-gray;
    display: flex;
    gap: 6rem
  }
}