@import "../../../styles/variables";

.container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  .cards {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 2rem;
  }
}