@import "../../../styles/variables";

.container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;

  .plan-card {
    border: 1px solid $light-gray;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    padding: 1rem;
    min-height: 130px;
    transition: border 0.3s;

    &:hover {
      border: 1px solid $purplish-blue;
    }
  }

  .selected {
    background-color: $magnolia;
    border: 1px solid $purplish-blue;
  }
}