@import "../../styles/variables";

.step {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: $white;
  margin-bottom: 2rem;

  &:last-child {
    margin-bottom: 0;
  }
  .text-container {
    font-size: 0.8rem;
    letter-spacing: 1px;

    .indication {
      margin-bottom: 5px;
      font-weight: $font-regular;
      color: $light-gray;
      font-size: 0.7rem;
    }

    .info {
      font-weight: $font-bold;
    }
  }
  .number {
    width: 2rem;
    height: 2rem;
    border: 1px solid $white;
    border-radius: 100%;
    font-weight: $font-medium;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
  }

  .number-active {
    color: $marine-blue;
    background-color: $light-blue;
    border: 1px solid $light-blue;
  }
}