@import "../../styles/variables";

.toggle {
  background-color: $magnolia;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  height: 3rem;
  align-items: center;
  gap: 1rem;

  .plans {
    color: $marine-blue;
    font-size: 0.8rem;
    font-weight: 500;
  }

  .selected {
    color: $cool-gray;
  }

  label {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

input {
    opacity: 0;
    width: 0;
    height: 0;
}

span {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $marine-blue;
    transition: 0.3s;
    border-radius: 30px;
}

span:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 3px;
  bottom: 2.6px;
  background-color: #fff;
  border-radius: 50%;
  transition: 0.2s;
}


input:checked + span:before {
  transform: translateX(19px);
}
}